body {
    margin: 0;
    font-family: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
    background: whitesmoke;
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 20px;
    height: 60px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: rgb(254, 251, 245);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .logo {
    height: 100%;
}

main {
    padding: 20px;
}

p {
    font-size: 2em;
}

.nametag {
    background: red;
    padding-bottom: 10px;
    width: 600px;
    text-align: center;
    color: whitesmoke;
    border-radius: 10%;
    border: 2px solid darkslategray;
    box-shadow: 5px 10px #888888;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.greeting {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 4em;
    padding: 10px;
}

.introduction {
    font-size: 2em;
}

.name {
    background: whitesmoke;
    color: darkslategray;
    font-style:italic;
    font-family: cursive;
    font-size: 3em;
    padding: 20px;
}

button {
    background: royalblue;
    color: whitesmoke;
    border: royalblue;
    border-radius: 10%;
    padding: 10px;
    font-size: 1em;
}

input {
    height: 2em;
    font-size: 0.5em;
}